/* App styles */
.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden; /* Prevents overflow */
}

.appBody {
  display: flex;
  flex: 1;
  overflow: hidden; /* Prevents overflow */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  min-height: 6.4rem;
  background-color: #dbd9d95b;
}

.navLeftblock {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 16%;
}

.navRightblock {
  display: flex;
  align-items: center;
  width: 12%;
  justify-content: space-between;
}

.navMid {
  width: 30%;
  display: flex;
  align-items: center;
}

.navSearch {
  border: none;
  background: white;
  font-size: 1.6rem;
  font-weight: 400;
  align-items: center;
  padding: 1.5rem;
  color: white;
  height: 4rem;
  width: 100%;
  border-radius: 3rem;
  z-index: 10;
}

.navSearch::placeholder {
  color: white;
}

.navSearch:focus {
  outline: none;
}

.searchButton {
  background: none;
  letter-spacing: 2px;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 500;
  width: 20%;
  border: none;
  height: 4rem;
  border-radius: 3rem;
  margin-left: -8rem;
  cursor: pointer;
  z-index: 12;
  background-image: linear-gradient(to bottom right, #4bceee, #1721b4);
}

.navIcon {
  height: 25px;
  cursor: pointer;
}

.navLogo {
  height: 60px;
  cursor: pointer;
}

.navUser {
  height: 45px;
  border-radius: 50%;
}

.sidebar {
  width: 25rem;
  display: flex;
  flex-direction: column;
  padding: 20px;
  overflow-y: auto; /* Ensures sidebar content scrolls if necessary */
}

.mainContent {
  flex: 1;
  background-color: #ecf0f1;
  overflow-y: auto; /* Ensures main content scrolls if necessary */
}

.bannerBg {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.6;
}

.banner {
  height: 40%;
  padding: 2rem;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: 4rem;
}

.contentList {
  list-style: none;
  background-color: #f9f9f9;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 30rem;
  margin: 20px auto;
  height: 30rem;
  overflow-y: auto; /* Ensures content list scrolls if necessary */
}

.contentListItem {
  padding: 10px 15px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contentListItem:last-child {
  border-bottom: none;
}

.contentListItem:hover {
  background-color: #e0e0e0;
}

.descriptionContainer {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 60rem;
  margin: 20px auto;
  height: 30rem;
  overflow-y: auto; /* Ensures description container scrolls if necessary */
}

.descriptionText {
  font-size: 16px;
  color: #333333;
  line-height: 1.6;
  margin: 0;
}
