.profile {
  width: 100%;
  padding: 2rem 2rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto; /* Ensures main content scrolls if necessary */
}

.profilePicContainer {
  display: flex;
  padding: 2rem 1rem;
  height: 30%;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

.profilePicContainer h1 {
  font-size: 4rem;
  z-index: 100;
}

.profilePic {
  z-index: 100;
  width: 18rem;
  height: 18rem;
  border-radius: 50%;
  object-fit: cover;
}

.profileDetails {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-weight: bold;
  padding: 2rem 2rem;
}

.profileDetails p {
  font-size: 2.2rem;
}

.btnContainer {
  display: flex;
  padding: 1rem;
  color: white;
  justify-content: space-around;
}

.resourceData {
  height: 45%;
}

.bookmarks,
.downloads {
  width: 40%;
  height: 100%;
  border-radius: 8px;
  background: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto;
  flex-direction: column;
}

.bookmarks h2,
.downloads h2 {
  font-size: 2.2rem;
  border-bottom: 2px solid #ccc;
  padding: 0.5rem 0;
  margin-bottom: 0.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bookmarks ul,
.downloads ul {
  height: 80%;
  width: 80%;
}

.bookmarkItem,
.downloadItem {
  display: flex;
  align-items: center;
  padding: 1rem;
  margin: 0.8rem;
  font-size: 1.3rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  cursor: pointer;
}

.bookmarkItem:hover,
.downloadItem:hover {
  background-color: #e0e0e0;
}

.fileIcon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.resourceData {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 2rem;
  justify-content: space-around;
}

.btnContainer button {
  border: none;
  padding: 1rem;
  font-size: 1.8rem;
  gap: 1rem;
  justify-content: center;
  font-weight: 600;
  color: white;
  display: flex;
  align-items: center;
  background-color: var(--color-primary);
  border-radius: 3rem;
}

.btnContainer button img {
  padding-left: 0.8rem;
  height: 2rem;
}

.btnContainer button:hover {
  background-color: var(--color-primary-darker);
}

@media (max-width: 700px) {
  .profile {
    padding: 1rem;
  }

  .profilePic {
    width: 10rem;
    height: 10rem;
  }

  .profileDetails {
    flex-direction: column;
    padding: 1rem;
    align-items: center;
  }

  .bookmarks h2,
  .downloads h2 {
    font-size: 1.5rem;
  }

  .profileDetails p {
    font-size: 1.5rem;
  }

  .btnContainer button {
    font-size: 1.2rem;
  }
}
