.profile {
  width: 100%;
  padding: 2rem 2rem;
}

.profilePicContainer {
  display: flex;
  padding: 2rem 1rem;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

.profilePicContainer h1 {
  font-size: 4rem;
}

.profilePic {
  width: 18rem;
  height: 18rem;
  border-radius: 50%;
  object-fit: cover;
}

.profileDetails {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-weight: bold;
  padding: 4rem 4rem;
}

.profileDetails p {
  font-size: 2.2rem;
}

.btnContainer {
  height: 10%;
  display: flex;
  color: white;
  justify-content: space-around;
}

.bookmarks,
.downloads {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.bookmarks h2,
.downloads h2 {
  font-size: 2.2rem;
}

.bookmarks ul, 
.downloads ul{
  height: 80%;
}

.bookmarkItem,
.downloadItem {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.fileIcon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.resourceData {
  display: flex;
  width: 100%;
  align-items: center;
  height: 30%;
  padding: 2rem;
  justify-content: space-around;
}
